*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


header,footer,.hero{
    background-color: #1F2937;
    color: #F9FAF8;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    color:#E5E7EB;
    padding: 16px;
}
.header-links{
    display: flex;
    gap:20px;

}

.logo{
    font-weight: bold;
    font-size: 24px;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color:#F9FAF8;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    min-height: 40vh;
}

.hero-left{
    width: 400px;
}

.hero-image{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    width: 400px;
    min-height: 200px;
}

h1{
    font-size: 48px;
    font-weight: extra-bold;
}

.hero-btn{
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border: none;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    margin-top: 10px;
}

.information{
    min-height: 40vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.images{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.image-unit{
    width: 200px;
}

.image{
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.quote-section{
    background-color: #E5E7EB;
    min-height: 40vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.quote{
    max-width: 900px;
    font-size: 36px;
    font-style: "italic";
    color:#1F2937;
}

.sing-up-section{
    min-height: 30vh;
}

footer{
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}